@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: rgb(255, 255, 255);
  --anti-bg-color: rgb(20, 20, 20);
  --accent-yellow: rgb(240, 196, 76);
}

body {
  color: var(--anti-bg-color);
  background: var(--bg-color)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
